<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Queue to download</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style-download.css') }}">
    </head>
    <body>
        <header class="page-header">
            <h1>Downloads</h1>
            <nav class="navegacao">
                <ul>
                    <li><a href='novo'>novo</a></li>
                    <li><a href='logout'>logout</a></li>
                    <li><a href='http://192.168.0.136:8096/web/index.html#!/home'><img src="{{ url_for('static', filename="emby.png") }}"></a></li>
                </ul>
            </nav>
        </header>
        <main>
            <form method='POST' action="{{ url_for('gravar') }}">
                <fieldset>
                    <label for="nome">Nome do filme:</label>
                    <input class="input-padrao" name="nome_do_filme" type="text" id="nome" placeholder="Interestelar">
                    <label for="usuario">Quem ta pedindo:</label>
                    <input class="input-padrao" name="usuario" type="text" id="usuario" placeholder="Marília">
                    <label for="obs">Observação</label>
                    <textarea name="obs" cols="70" rows="10" id="obs"></textarea>
                </fieldset>
                <fieldset>
                    <legend>Selecione a resolução desejada</legend>
                    <select name="resolucao">
                    <option>720p</option>
                    <option>1080p</option>
                    <option>4k</option>
                    </select>
                    <input class="submit-button" type="submit">
                </fieldset>
            </form>
        </main>
    </body>
</html>
