<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jogoteca</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1 class="titulo-principal">{{ titulo }}</h1>
        <nav>
          <ul>
            <li><a href="novo">Novo Jogo</a></li>
            <li><a href="download">Downloads</a></li>
            <li><a href="logout">Logout</a></li>
          </ul>
        </nav>
        </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul id="messages" class="list-unstyled">
                    {% for message in messages %}
                        <li class="alert alert-success">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        {% block conteudo %}{% endblock %}
    </div>
  </body>
</html>
